
        <div class="paragraph">
            <table width="100%" class="resumen-factura2" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        [__logo__]
                    </td>
                    <td align="center" valign="top" class="datos-empresa">
                        <strong><h2>[__razon-social__]</h2></strong>
                        <br/>
                        <b>Nit: [__nit-club__]</b>
                        <br/>
                        <p class="firma">
                        [__nota-factura__]<br/>
                        [__nota-ica__]<br/>
                        Dirección: [__direccion-club__]<br/>
                        Teléfono: [__telefono-club__],
                        Ciudad: [__ciudad-club__]<br/>
                        </p>
                    </td>
                    <td align="right" width="230">
                        <h4>Factura de Venta No.<span style="color:red">[__nro-factura__]</span> </h4>
                        <div class="firma">
                            FACTURACIÓN POR COMPUTADOR SEGUN RESOLUCIÓN No. [__resolucion-factura__]
                            DEL [__fecha-resolucion-factura__] NUMERACIÓN AUTORIZADA
                            [__prefijo-resolucion-factura__][__nro-inicial-factura__] AL [__prefijo-resolucion-factura__][__nro-final-factura__]</b>
                        </div>

                        <br/>
                        <b>Periodo Facturado:</b> [__periodo-factura__]<br/>
                        <b>Fecha de Factura:</b> [__fecha-factura__]<br/>
                        <b>Fecha Limite de Pago:</b> [__fecha-vence-factura__]
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table align="left" class="resumen-factura2" cellspacing="0" cellpadding="0" width="700">
                            <tr>
                                <td align="left"><b>Nombre:</b> [__nombre-socio__]</td>
                                <td align="left"><b>NIT/Cedula:</b> [__nit-socio__]</td>
                                <td align="left"><b>Derecho-Social:</b> [__accion-socio__]</td>
                            </tr>
                            [__more-socio__]
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        [__contentHtml__]
        <div class="paragraph">
            <table width="98%">
                <tr>
                    <td width="50%" align="left" valign="top" class="traspaso">
                        [__resumen-factura__]
                    </td>
                    <td width="50%" align="right">
                        <table class="resumen-factura" cellspacing="0" cellpadding="0" align="right">
                            <tr>
                                <td align="right"><b>Base Gravable</b></td>
                                <td align="right">[__base-gravable-factura__]</td>
                            </tr>
                            <tr>
                                <td align="right"><b>Ingresos Terceros</b></td>
                                <td align="right">[__ingreso-tercero-factura__]</td>
                            </tr>
                            <tr>
                                <td align="right"><b>Base No Gravable</b></td>
                                <td align="right">[__base-no-gravable-factura__]</td>
                            </tr>
                            <tr>
                                <td align="right"><b>IVA 16%</b></td>
                                <td align="right">[__iva-16-factura__]</td>
                            </tr>
                            <tr>
                                <td align="right"><b>ICO 8%</b></td>
                                <td align="right">[__ico-8-factura__]</td>
                            </tr>
                            <tr>
                                <td align="right" ><b>Total Facturado</b></td>
                                <td align="right" >[__total-factura__]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                [__content-recargo-mora__]                
            </table>
        </div>
        [__content-cupon-pago__]
        <div class="firma">
            <br/>
            [__resumen-pie-factura__]
        </div>
        <div class="page-break"></div>
        <pd4ml:page.break>