
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package 	Back-Office
 * @copyright 	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

.revision {
	background: #fff;
	padding: 5px;
	border: 1px solid #969696;
	margin: 5px;
}

.record_block {
	background: #dde6f2;
	border: 1px solid #d1d5e0;
	padding: 5px;
}

.record_block td {
	border-bottom: 1px solid #d1d5e0;
}

.changed {
	background: #cceecd;
}

.changed td {
	color: green;
}