
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package 	Back-Office
 * @copyright 	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 11px;
}

@font-face {
	font-family: 'Anivers';
	src: local('Anivers'),
		url('../../files/pos2/Anivers.otf') format('opentype');
}

.sh_left {
	background: url("../../img/pos2/left.png");
	width: 25px;
}

.sh_right {
	background: url("../../img/pos2/right.png");
	width: 25px;
}

.sh_down {
	background: url("../../img/pos2/down.png");
	height: 5px;
}

.sh_up {
	background: url("../../img/pos2/up.png");
	height: 5px;
}

.sh_s {
	background: url("../../img/pos2/s.png");
	height: 18px;
}

.sh_n {
	background: url("../../img/pos2/n.png");
	height: 18px;
}

.sh_w {
	background: url("../../img/pos2/w.png");
	width: 18px;
}

.sh_e {
	background: url("../../img/pos2/e.png");
	width: 18px;
}

.sh_se {
	background: url("../../img/pos2/se.png");
	height: 18px;
	width: 18px;
}

.sh_sw {
	background: url("../../img/pos2/sw.png");
	height: 18px;
	width: 18px;
}

div#shadow_win {
	position: absolute;
	background: #333333;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

div#myWindow {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	background: url("../../img/pos2/bg-texture-2.png");
	z-index: 5000;
	box-shadow: 4px 4px 7px rgba(71, 71, 71, 0.7);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#myWindow td#myWindowTitle {
	cursor: move;
	color: #000000;
	background: url("../../img/pos2/bg-texture-1.png") #c0c0c0;
	font-size: 12px;
	padding-bottom: 10px;
    padding-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 1px 0 #F3F3F3;
}

div#myWindow div#windowData {
	padding: 2px;
	border: 1px solid #969696;
}

div#growler {
	position: absolute;
	left: 20px;
	background-color: transparent, transparent;
	background-image:  url("../../img/pos2/alert.png"), -moz-linear-gradient(top center, #EAC15E, #C8972D);
	background-repeat: no-repeat, no-repeat;
	background-position: 7px 7px, 0px 0px;
	border: 1px solid #CD9F37;
	padding: 10px;
	padding-left: 20px;
	width: 200px;
	font-size: 13px;
	color: #543C12;
	text-shadow: 0 1px 0 #717171;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	box-shadow: 4px 4px 7px rgba(71, 71, 71, 0.7);
}

div#context {
	background: #ffffff;
	padding-top: 20px;
	padding: 15px 10px 10px;
}

div#context td#contextMessage {
	font-size: 18px;
	text-shadow: 0 1px 0 #F3F3F3;
	padding-bottom: 10px;
	padding-top: 10px;
}

div.errorMessage {
	background: rgba(137, 53, 59, 0.95);
	border: 1px solid #3D191C;
	border-top: none;
	color: #ffffff;
	font-weight: normal;
	padding: 5px;
	margin: 0px;
}

div.noticeMessage {
	border: none;
	background: #238FD9;
	border-top: none;
	color: #ffffff;
	font-weight: normal;
	padding: 5px;
	margin: 0px;
}

div.successMessage {
	background: rgba(16, 118, 0, 0.8);
	color: #ffffff;
	font-weight: normal;
	padding: 3px;
}

div#virtualkb-button {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 25px;
	cursor: pointer;
	text-align: center;
}

div#virtualkb-button img {
	-webkit-box-shadow: 4px 4px 7px rgba(71, 71, 71, 0.7);
	-moz-box-shadow: 4px 4px 7px rgba(71, 71, 71, 0.7);
}

div#virtual-keyboard {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: rgba(30, 30, 30, 0.93);
	width: 100%;
	padding: 10px;
	pointer-events: auto;
}

div#virtual-keyboard div.key {
	font-family: Helvetica,arial,sans-serif;
	font-size: 22px;
	width: 30px;
	padding: 12px;
	padding-top: 17px;
	text-align: center;
	border: 1px solid #969696;
	-moz-border-radius: 5px;
	margin: 3px;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	color: #1B1B1B;
	text-shadow: #333333 0px 1px 1px;
	cursor: pointer;
}

div#virtual-keyboard div.keyspace {
	width: 500px;
}

div#virtual-keyboard div#exit {
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	width: 40px;
	height: 7px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

span.highlight {
	background: #238FD9;
	color: #ffffff;
	-moz-border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px rgba(71, 71, 71, 0.7);
	padding: 2px;
}

.flowButton {
	font-family: Verdana;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	-moz-border-radius: 10px;
	border: 1px solid #cacaca;
	color: #1B1B1B;
	text-shadow: 0 1px 0 #F3F3F3;
	padding: 10px;
	padding-left: 13px;
	padding-right: 13px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}

div.shadow-div {
	width: 900px;
	box-shadow: 5px 7px 10px rgba(21, 21, 21, 0.7);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

table.shadow-table {
	box-shadow: 5px 7px 10px rgba(21, 21, 21, 0.7);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

table#shadow-div-descendant {
	min-height: 500px;
}