
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package 	Back-Office
 * @copyright 	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

body {
	background-position: top center;
	background-attachment: fixed;
	background-color: #408BCC;
	background-image: url("../../img/pos2/food4.png");
}

td.titulo {
  	padding: 5px;
 	font-family: 'Anivers', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-image: -moz-linear-gradient(top center, rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 1));
	background-image: -webkit-linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 1));
	border: 1px solid #333333;
	opacity: 0.8;
	height: 30px;
	text-shadow: #000 1px 1px 1px;
	text-shadow: rgba(0,0,0, .4) 1px 1px 1px;
}

.tableCell {
  	width: 60px;
  	height: 60px;
  	border-left: 1px solid #dadada;
  	border-bottom: 1px solid #dadada;
  	cursor: pointer;
  	background: #ffffff;
}

.mesasTable {
	border-right: 1px solid #dadada;
}

.rightSide {
  	width: 150px;
  	text-align: center;
	background: url("../../img/pos2/bg-texture-4.png");
}

.salonButton {
	font-size: 12px;
	cursor: pointer;
  	width: 140px;
  	height: 30px;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	background: -webkit-linear-gradient(#EDEEEF, #D3D4D9);
    border: 1px solid #73AFCA;
    border-radius: 5px 5px 5px 5px;
    color: #4C7284;
    font-size: 11px;
    font-weight: bold;
	margin: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-shadow: 0 1px 0 #F3F3F3;
  	overflow: hidden;
    text-overflow: ellipsis;
}

input.salonUnselected {
	color: #919FAC;
}

input.salonSelected {
	background: -moz-linear-gradient(center top, #BACBDC, #C6D8E8) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(#BACBDC, #C6D8E8);
}

button.salonOption {
	font-size: 12px;
	cursor: pointer;
  	width: 140px;
  	height: 30px;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	background: -webkit-linear-gradient(#EDEEEF, #D3D4D9);
    border: 1px solid #73AFCA;
    border-radius: 5px 5px 5px 5px;
    color: #4C7284;
    font-size: 11px;
    font-weight: bold;
	margin: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-shadow: 0 1px 0 #F3F3F3;
}

button.salonOptionUnselected {
	color: #8C99A5;
}

button#editarButton {
	cursor: pointer;
  	font-weight: bold;
  	font-size: 11px;
  	width: 130px;
  	height: 60px;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	background: -webkit-linear-gradient(#EDEEEF, #D3D4D9);
	border: 1px solid #73AFCA;
	color: #4C7284;
	text-shadow: 0 1px 0 #F3F3F3;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
}

input#cancelButton,
button#cancelButton {
	cursor: pointer;
  	font-size: 11px;
  	font-weight: bold;
  	text-shadow: 0 1px 0 #F3F3F3;
  	width: 130px;
  	height: 60px;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	background: -webkit-linear-gradient(#EDEEEF, #D3D4D9);
	border: 1px solid #73AFCA;
	color: #4C7284;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
}

div.mesaButton {
  	font-size: 12px;
  	font-weight: bold;
	color: #414141;
	text-shadow: 0 1px 0 #F3F3F3;
	text-align: center;
	background: -moz-linear-gradient(top center, #EDEEEF, #D3D4D9);
	background: -webkit-linear-gradient(#EDEEEF, #D3D4D9);
	border: 1px solid #cacaca;
	width: 59px;
	height: 59px;
	cursor: pointer;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	padding-bottom: 0px;
}

div.mesaButton img {
	width: 32px;
	margin: 5px;
	margin-bottom: 1px;
}

div.mesaButton2 {
  	font-size: 11px;
	background: -moz-linear-gradient(top center, #E4FFC2, #C8E0AB);
	background: -webkit-linear-gradient(#E4FFC2, #C8E0AB);
	background-repeat: no-repeat;
	border: 1px solid #A8C4A3;
	width: 60px;
	height: 60px;
	cursor: pointer;
  	border-radius: 5px;
  	overflow: hidden;
    text-align: center;
    text-overflow: clipped;
}

.mesero_name, .cliente_name {
	font-size: 10px;
	color: #008000;
	font-weight: bold;
}

.drag_over {
	background-color: #C0C0C0;
}

div#basura {
	padding: 5px;
	text-align: center;
}

div#basura img {
	width: 96px;
}

input#numero {
	font-size: 20px;
	background-color: #111111;
	border: 1px solid #333333;
	color: #fafafa;
	text-align: right;
	padding: 3px;
}

div.mesaSelected {
	background: -moz-linear-gradient(top center, #FFEDA5, #F6E5A0);
	background: -webkit-linear-gradient(#FFEDA5, #F6E5A0);
}

.mesasPanel {
	background: url("../../img/pos2/bg-texture-2.png") #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
}

.subTitle {
	font-size: 11px;
	color: #B3DAE8;
	text-shadow: 0 1px 0 #111111;
}

.selamesa {
	float: right;
	color: #eaeaea;
	font-size: 11px;
}

.overTable {
	background: #ffffcc;
}

div.numeroMesa {
	text-align: center;
}

div.numeroMesa input {
	text-align: center;
}

div.selectedTable {
	background: #afa2c4;
}

span.tiempo {
	color: #818181;
}

table.shadow-table {
	width: 900px;
}

div.numeroHab {
	color: #9d9d9d;
}