
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package 	Back-Office
 * @copyright 	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

div.cuadro-cierre {
	margin: 10px;
	background: #E2E9F1;
	-moz-border-radius: 5px;
	-moz-user-select: none;
}

div.cuadro-cierre td {
	font-size: 11px;
}

div.matrizProveedores div.infoBox {
	width: 300px;
}

div.matrizProveedores div.infoBox strong {
	font-family: Anivers;
	font-size: 18px;
	font-weight: normal;
}

div.addProveedorDiv,
div.rangoPeriodos {
	-moz-border-radius: 10px;
	padding: 5px;
	margin: 10px;
	width: 600px;
	background: rgba(11, 11, 11, 0.05);
}

div.rangoPeriodos {
	width: 550px;
}

div.addProveedorDiv input.addButton,
div.comportamiento input.addButton {
	font-size: 11px;
	padding: 2px;
}

ul.proveedorOrder {
	margin: 0px;
	padding: 0px;
}

ul.proveedorOrder li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.proveedorOrder li table.zebraSt tr {
	cursor: move;
}

ul.proveedorOrder li img.delete {
	cursor: pointer;
}

table#pedidosTable,
table#ordenesTable {
	margin-bottom: 15px;
}

table#pedidosTable input.seleccionarButton,
table#ordenesTable input.seleccionarButton {
	font-size: 11px;
	padding: 2px;
}

div.formExternal form.pedidoForm,
div.formExternal form.ordenForm {
	padding-bottom: 0px;
}

table.pedidoCompleter a.query-pedido,
table.ordenCompleter a.query-orden,
div.hyperForm div.hyFormDiv table.pedidoCompleter a.query-pedido,
div.hyperForm div.hyFormDiv table.ordenCompleter a.query-orden {
	font-size: 11px;
	color: #717171;
	margin-left: 3px;
}

div.criterios {
	padding-top: 5px;
}

div.criterios div.criterios-label {
	padding: 5px;
}

div.hyperForm div.hyFormDiv div.criterios td {
	font-size: 11px;
}

div.stocks input[type="text"] {
	text-align: right;
}

div.fieldsetGroup {
	padding: 10px;
}

div.chartContainer {
	overflow: hidden;
	padding: 5px;
	padding-top: 20px;
	margin-bottom: 10px;
}

div.chart {
	width: 750px;
	height: 200px;
}

div.comportamiento table.itemCompleter input.itemDetalle {
	width: 192px;
}

div.sin-referencias {
	border: 2px dashed #d1d1d1;
	color: #969696;
	margin: 7px;
	padding: 7px;
	-moz-border-radius: 10px;
	width: 100%;
}

table.totales span.total {
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	margin-right: 16px;
}

table.totales b {
	font-family: Anivers;
	font-size: 16px;
	color: #6BA3DC;
}

table.totales div.sin-saldo {
	color: #F36F0D;
	font-size: 13px;
}

table.totales div.con-saldo {
	color: #fafafa;
	font-size: 13px;
}

div.detailed-calculation a {
	background: #D7DCE5;
	color: #747D84;
	padding: 3px;
}

table.detalleCalculo {
	min-width: 270px;
	margin: 10px;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
}

table.detalleCalculo th,
table.detalleCalculo td {
	font-size: 13px;
	padding: 3px;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

table.detalleCalculo th {
	background: #fafafa;
}

p.detalleCalculoP,
ul.detalleCalculoUl {
	font-size: 13px;
	line-height: 17px;
}

p.detalleCalculoP b {
	font-size: 14px;
}