
        <table width='100%'>
            <!--HEAD INI-->
            <tr>
                <td align='center' width='100%'>
                    <!--HEAD CONTENT INI-->
                    <table width='100%' align='center' class='hyTitle'>
                        <tr>
                            <td width='20%'>
                                [__logo__]
                            </td>
                            <td align='center' width='60%' colspan='2'>
                                <h1>[__nombre-club__]</h1>
                                <strong>NIT [__nit-club__]</strong>
                                <br/>
                                <small>
                                    [__direccion-club__]<br/>
                                    [__nota-factura__]<br/>
                                    [__nota-ica__]<br/>
                                </small>
                            </td>
                            <td width='20%'>
                                <table class='tableLineTop tableLineLeft tableLineBottom tableLineRight' width='100%' align="center">
                                    <tr>
                                        <td aling="center" class="bold" align="center">
                                            <strong>
                                                ESTADO DE CUENTA
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width='100%' class='tableLineTop' align='center' >
                                            <strong>
                                                No. [__nro-estado-cuenta__]
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!--HEAD CONTENT FIN-->
                </td>
            </tr>
            <tr>
                <td width='100%'>
                    <!--SOCIO CONTENT INI-->
                    <table width='100%'>
                        <tr>
                            <td width='100%'>
                                <table width='100%'>
                                    <tr>
                                        <td align='left' width='60%'>
                                            <table width='100%' class='tableLineLeft tableLineTop tableLineBottom tableLineRight'>
                                                <tr>
                                                    <td align='center' class="bold"  width='100%'>
                                                        <strong>
                                                            NOMBRE DEL SOCIO
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop'>
                                                        [__nombre-socio__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align='left' width='20%'>
                                            <table width='100%' class='tableLineLeft tableLineTop tableLineBottom tableLineRight'>
                                                <tr>
                                                    <td align='center' class="bold"  width='100%'>
                                                        <strong>
                                                            CODIGO
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop' align='center' >
                                                        [__accion-socio__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align='left' width='20%'>
                                            <table width='100%' class='tableLineLeft tableLineTop tableLineBottom tableLineRight'>
                                                <tr>
                                                    <td align='center' class="bold"  width='100%'>
                                                        <strong>
                                                            FECHA DE CORTE
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop' align='center' >
                                                        [__fecha-corte__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='left'>
                                            <table width='100%' class='tableLineLeft tableLineBottom tableLineRight tableLineTop'>
                                                <tr>
                                                    <td align='center' class="bold" >
                                                        <strong>
                                                            DIRECCI&Oacute;N
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop'>
                                                        [__direccion-socio__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align='left'>
                                            <table width='100%' class='tableLineLeft tableLineBottom tableLineRight tableLineTop'>
                                                <tr>
                                                    <td align='center' class="bold" >
                                                        <strong>
                                                            CIUDAD
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop'  align='center'>
                                                        [__ciudad-socio__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align='left'>
                                            <table width='100%' class='tableLineLeft tableLineBottom tableLineRight tableLineTop'>
                                                <tr>
                                                    <td align='center' class="bold" >
                                                        <strong>
                                                            PAGUE HASTA EL
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop' align='center'>
                                                        [__pague-hasta__]
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    <!--SOCIO CONTENT FIN-->
                </td>
            </tr>
            <!--HEAD FIN-->

            <!--CONTENT INI-->
            <tr>
                <td width='100%'>
                    <table width='100%' class='tableLine tableLineBottom'>
                        <thead>
                            <tr>
                                <th width='12%' align='center' class="bold spacingAncho spacingAlto">
                                    <strong>FECHA</strong>
                                </th>
                                <th width='14%' align='center' class="bold spacingAncho spacingAlto">
                                    <strong>DOCUMENTO</strong>
                                </th>
                                <th width='50%' align='center' class="bold spacingAncho spacingAlto">
                                    <strong>CONCEPTO</strong>
                                </th>
                                <th width='12%' align='center' class="bold spacingAncho spacingAlto">
                                    <strong>CARGOS</strong>
                                </th>
                                <th width='12%' align='center' class="bold spacingAncho spacingAlto">
                                    <strong>ABONOS</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            [__contentMoviHtml__]
                        </tbody>
                    </table>
                </td>
            </tr>
            <!--CONTENT FIN-->

            <tr>
                <td width='100%'>
                    <br/>
                    <table width='100%' class='tableLine tableLineBottom'>
                        <tr>
                            <th class="bold spacingAlto">
                                <strong>
                                    SALDO ANTERIOR
                                </strong>
                            </th>
                            <th class="bold spacingAlto">
                                <strong>
                                    SALDO EN MORA
                                </strong>
                            </th>
                            <th class="bold spacingAlto">
                                <strong>
                                    TOTAL CARGOS
                                </strong>
                            </th>
                            <th class="bold spacingAlto">
                                <strong>
                                    TOTAL ABONOS
                                </strong>
                            </th>
                            <th class="bold spacingAlto">
                                <strong>
                                    PAGUE HASTA EL
                                </strong>
                            </th>
                            <th class="bold spacingAlto">
                                <strong>
                                    VALOR A PAGAR
                                </strong>
                            </th>
                        </tr>
                        <tr>
                            <td align='right' class='lineBottom'>
                                [__saldo-anterior__]
                            </td>
                            <td align='right' class='lineBottom'>
                                [__saldo-en-mora__]
                            </td>
                            <td align='right' class='lineBottom'>
                                [__total-cargos__]
                            </td>
                            <td align='right' class='lineBottom'>
                                [__total-abonos__]
                            </td>
                            <td align='center' class='lineBottom'>
                                [__pague-hasta__]
                            </td>
                            <td align='right' class='lineBottom'>
                                [__saldo-nuevo__]
                            </td>
                        </tr>
                        <tr>
                            <td colspan='6' align='left' class="bold">
                                [__resumen__]
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <!--RECAUDO EMPRESARIAL-->
        <br/>
        <hr/>
        <br/>
        <div style='text-align:center;'><h2>RECAUDO EMPRESARIAL</h2></div>

        <table width='100%'>
            <tr>
                <td width='70%'>
                    <br/>
                    <table width='100%'>
                        <tr>
                            <td align='left' width='60%'>
                                <table class='tableLineLeft tableLineTop tableLineRight tableLineBottom' width='100%'>
                                    <tr>
                                        <td align='center' class="bold">
                                            <strong>
                                                NOMBRE DEL SOCIO
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='tableLineTop' >
                                            [__nombre-socio__]
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align='left' width='15%'>
                                <table class='tableLineLeft tableLineTop tableLineRight tableLineBottom' width='100%'>
                                    <tr>
                                        <td align='center' class="bold">
                                            <strong>
                                                CODIGO
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='tableLineTop' align='center' >
                                            [__accion-socio__]
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align='center'>
                                <table class='tableLineLeft tableLineTop tableLineRight tableLineRight tableLineBottom'>
                                    <tr>
                                        <td align='center' class="bold">
                                            <strong>
                                                ESTADO DE CUENTA
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='tableLineTop' align='center' >
                                            No. [__nro-estado-cuenta__]
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align='left'>
                                <table width="90%">
                                    <tr>
                                        <td>
                                            <table class='tableLineLeft tableLineTop tableLineRight tableLineBottom' width="100%">
                                                <tr>
                                                    <td align='center' class="bold">
                                                        <strong>
                                                            CIUDAD
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop' align='center' >
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align='left'>
                                            <table class='tableLineLeft tableLineTop tableLineRight tableLineBottom' width="70%">
                                                <tr>
                                                    <td align='center' class="bold">
                                                        <strong>
                                                            FECHA DE PAGO
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class='tableLineTop' align='center' >
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td rowspan='3' colspan='2'>
                                <table class='tableLineLeft tableLineTop tableLineBottom  tableLineRight' width="100%">
                                    <tr>
                                        <th class="tableLineRight bold">
                                            <strong>
                                                BANCO
                                            </strong>
                                        </th>
                                        <th class="tableLineRight bold">
                                            <strong>
                                                CHEQUE No.
                                            </strong>
                                        </th>
                                        <th class="tableLineRight bold">
                                            <strong>
                                                VALOR
                                            </strong>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='lineCubic bold'>
                                            <strong>
                                                EFECTIVO
                                            </strong>
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='2' class='lineCubic bold'>
                                            <strong>
                                                TOTAL PAGO
                                            </strong>
                                        </td>
                                        <td class='lineCubic'>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align='left'>
                                <table class='tableLineLeft tableLineTop tableLineBottom tableLineRight'>
                                    <tr>
                                        <td align='left'>
                                            [__resumen-recaudo__]
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style='page-break-before: always;'></div>