
        <table class='tableLineTop tableLineBottom tableLineLeft tableLineRight' align='center'>
            <tr>
                <th align='center' class="tableLineBottom tableLineRight bold">
                    <strong>Acción</strong>
                </th>
                <th align='center' class="tableLineBottom tableLineRight bold">
                    <strong>Identificación</strong>
                </th>
                <th align='center' class="tableLineBottom  tableLineRight bold">
                    <strong>Nombre</strong>
                </th>
                <th align='center' class="tableLineBottom  tableLineRight bold">
                    <strong>Saldo Anterior</strong>
                </th>
                <th align='center' class="tableLineBottom  tableLineRight bold">
                    <strong>Total Cargos</strong>
                </th>
                <th align='center' class="tableLineBottom  tableLineRight bold">
                    <strong>Total Abonos</strong>
                </th>
                <th align='center' class="tableLineBottom  tableLineRight bold">
                    <strong>Nuevo Saldo</strong>
                </th>
                <th align='center' class="tableLineBottom bold">
                    <strong>Nuevo Saldo con Mora</strong>
                </th>
            </tr>
            [__estadoCuentaConsolidado__]
        </table>