[development]
database.type = mysql
database.host = localhost
database.username = root
database.password = hea101
database.name = rjockey
database.charset = utf8
database.collate = utf8_spanish_ci

[production]
database.type = mysql
database.host = localhost
database.username = root
database.password = hea101
database.name = rjockey
