
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package		Front-Office
 * @copyright	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

.abocarMov {
	width: 90%;
}

.abocarMov th {
	background: url("../img/localnavg.gif") #a1a1a1;
	border: 1px solid #969696;
	font-size: 11px;
}

#datosBox {
	width: 400px;
	background: #ffffff;
	border: 1px solid #969696;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

#grabarNuevo {
	margin: 15px;
	margin-top: 25px;
	margin-right: 25px;
}

#new_abono {
	border: 1px solid #808080;
	background: #fff;
	padding: 10px;
	margin-top: 25px;
}

#tabFormas th {
	background: url(../img/localnavg.gif) #a1a1a1;
	border-left: 1px solid #969696;
	font-size: 11px;
}

#total {
	text-align: right;
	font-size: 18px;
}

#buttonPannel {
	padding-right: 40px;
}

select.forpag-select {
	width: 100%;
}

input.i-valor {
	text-align: right;
}

.i-valor, .i-fecven, .i-ivarep, .i-numfor, #total {
	text-align: right;
	width: 99%;
}