
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package		Front-Office
 * @copyright	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

#canresForm {
	margin-top: 20px;
	background: #fff;
	border: 1px solid #969696;
	width: 500px;
	padding: 20px;
	-moz-border-radius: 10px;
}

.divBack {
	padding: 20px;
}