
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package		Front-Office
 * @copyright	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

.active_tab {
	border: 1px solid #969696;
	border-bottom: none;
	font-size: 12px;
	cursor: pointer;
	padding: 5px;
	text-transform: uppercase;
	color: #5C6063;
	font-weight: bold;
}

.inactive_tab {
	font-size: 12px;
	border: 1px solid #969696;
	background: #dadada;
	cursor: pointer;
	text-transform: uppercase;
	color: #5C6063;
	font-weight: bold;
}

div.contacto_panel {
	margin: 5px;
	width: 570px;
	margin-top: 15px;
	padding: 10px;
	-moz-border-radius: 4px;
	border: 1px solid #c0c0c0;
}

div.contacto_panel_nuevo {
	background: #dadada;
}

div.contacto_panel label {
	font-weight: bold;
}

div.contacto_panel div.export-vcard {
	background: #bababa;
	width: 75px;
	padding: 3px;
	-moz-border-radius: 5px;
}

div.contacto_panel div.export-vcard a {
	color: #333333;
	font-size: 12px;
}

div.quitar {
	padding: 5px;
}

div.quitar a {
	font-size: 11px;
	color: #33333;
	padding: 5px;
	-moz-border-radius: 5px;
}

div.crear_panel {
	margin: 20px;
	width: 750px;
}