a, td {
	font-size: 12px;
}

#message_details {
	font-size: 10px;
	font-family: Lucida Console;
	margin: 3px;
	padding: 3px;
	background: #eaeaea;
	border: 1px solid #969696;
}

#message_content {
	font-size: 13px;
	border: 1px solid #969696;
	padding: 0px;
	background: #ffffff;
}

#message_content iframe {
	width: 100%;
	border: none;
	height: 400px;
}

.message_content a {
	color: blue;
}

div.forward,
.gmail_quote {
	color: #969696;
	margin-left: 10px;
	padding: 5px;
	border-left: 1px solid #969696;
}

div.forward h2, div.forward h3, div.forward span, div.forward p, div.forward code, div.forward div {
	color: #969696;
}

.nobo {
	border: none;
}

.nobo td {
	font-size: 11px;
}

#fecmsg {
	font-size: 11px;
	color: #808080;
	font-size: 16px;
	margin-left: 10px;
}

#frommsg,
#tomsg,
#ccmsg {
	margin-left: 10px;
	color: #777777;
	font-size: 14px;
}

.buttonMailPannel {
	margin: 3px;
	padding: 3px;
	background: #ccdeff;
	font-size: 10px;
	border:1px solid #a6c5ff;
}

.lista_p th {
	font-size: 11px;
	border: none;
}

#to_box,
#cc_box {
	font-family: Verdana;
	width: 99%;
	height: 25px;
}

#user_res {
	display: none;
	border: 1px solid #808080;
	background: #F2F2F2;
	position: relative;
}

.user_res {
	display:none;
	border:1px solid #808080;
	background:#F2F2F2;
	position:relative;
}

#subject {
	font-family: Verdana;
	width: 99%;
	height: 25px;
	background: #fafafa;
}

.readButtonPannel {
	background: url(../img/localnavg.gif);
	padding: 0px;
	border: 1px solid #969696;
}

.controlButton,
.controlButtonCancel {
	font-size: 11px;
	padding: 5px;
}

.lista_mes td {
	border: none;
	border-bottom: 1px solid #E3E8ED;
}

.sendControl {
	margin-bottom: 10px;
}