
/**
 * Hotel Front-Office Solution
 *
 * LICENSE
 *
 * This source file is subject to license that is bundled
 * with this package in the file docs/LICENSE.txt.
 *
 * @package		Front-Office
 * @copyright	BH-TECK Inc. 2009-2010
 * @version		$Id$
 */

.hab {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 26px;
}

@media print {
	.habi {
		border: 1px solid #333333;
	}
}

.habi {
	text-align: center;
	width: 80px;
	height: 70px;
	padding: 3px;
	padding-bottom: 3px;
	padding-top: 10px;
	margin: 3px;
	overflow: hidden;
}

.habi a,
.habi span {
	text-shadow: 0px 1px 0px rgba(21, 21, 21, 0.70);
}

.info_box {
	background: url("../img/localnavg.gif");
	padding: 5px;
	border: 1px solid #969696;
	width: 250px;
	margin: 10px;
}

#mainTd,
#mTd {
	background: transparent;
	padding: 0px;
}

#mTr,
#mTr2 {
	background: rgba(42, 52, 59, 0.95);
}

div#revest {
	background-repeat: repeat-x;
}

.titulop {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(21, 21, 21, 0.70);
}

table#ordenar td {
	color: #fafafa;
}

strong {
	text-shadow: 0px 1px 0px rgba(21, 21, 21, 0.70);
}

.labcla {
	margin-top: 10px;
	color: #fafafa;
}

.legend_box {
	width: 340px;
}

.legend_item {
	width: 20px;
	height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.toolbox img {
	margin-left: 10px;
	margin-top: 1px;
}

div#orderList {
	display: inline;
}

div#searchBox {
	display: inline;
	background: #ffffff;
	width: 190px;
	-moz-border-radius: 15px;
}

div#searchBox input {
	border: none;
	width: 170px;
}

span.highlight {
	background: #238FD9;
	color: #ffffff;
	-moz-border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px rgba(71, 71, 71, 0.7);
	padding: 2px;
}

table.zebra_q {
	margin-top: 5px;
}

table.zebra_q td {
	color: #f2f2f2;
	padding: 3px;
}

table.zebra_q tr:nth-child(odd){
	background: #3B4658;
}

table.zebra_q tr:nth-child(even){
	background: #242B36;
}

div#searchView {
	margin-top: 25px;
	margin-bottom: 25px;
}