
table#logForm input#pass, table#logForm input#pass_dummy, table#logForm input#captcha, table#logForm #login {
	font-size: 12px;
	padding: 2px;
	height: 22px;
}

div.xx {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e6e6e6', endColorstr='#CCCCCC')";
}

div#link_dock {
	position: absolute;
	left: 0px;
	top: 0px;
}