[application]
mode = development
name = Administración
code = IM
icon = administrative-docs.png
dbdate = YYYY-MM-DD
debug = Off

[entities]
autoInitialize = Off

[hfos]
uniqueid = hfos
hostname = hfos
back_db = rjockey
front_db = hjockey
pos_db = pjockey
charset = utf8
collate = utf8_spanish_ci
identity = ijockey
